.Handprint_Body {
    background-color: white;
}

.Handprint_Maincontent {
    width: 1200px;
    display: flex;
    margin: auto;
    padding: 50px 0px;
}

.Handprint_Filter,
.Handprint_Rated,
.Handprint_Vases {
    margin-top: 30px;
}

.Handprint_Rightcomponent {
    width: 100%;
}